<!DOCTYPE html>
<html>
	<head>
	  <title>CDL Study Guides and Practice Tests</title>
	  <meta name="description" content="Looking for CDL study guides and practice tests? CDLStudyGuideHQ.com has them for all endorsements - and we guarantee your success!">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale = 1.0" />
	  <meta name="google-site-verification" content="XQHxRQvR1cA1K95SRb2W-LoY7my2IvMNlFmwiZrOQAI" />
	  <%= csrf_meta_tags %>
	  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-69264714-2', 'auto');
		  ga('send', 'pageview');
	  </script>
	</head>
	<body class="cdl-test">
		<div class="container container__cdl-test">
		  <div class="row text-center">
		    <%= link_to "#pricing-section", class: "pricing-section-link" do %>
		      <%= image_tag("cdl-test/cdl-test-answers.png") %>
		    <% end %>
		    <h1 class="cdl-test__h1">Pass the CDL Test - 100% Guaranteed!</h1>
		  </div>
		  <div class="row" style="padding-top: 40px">
		    <div class="col-sm-5 col-sm-offset-1">
		  		<h3 class="cdl-test__h3"><%= Time.now.year %> CDL Test Questions and Answers are here!</h3>

		  		<p>Need to pass the Commercial Drivers License exam today? If so, our practice tests and study guide are 100% guaranteed to help you do it on your first try. We cover all sections!</p>

		  		<p class="cdl-test__deal-text">FOR A LIMITED TIME SAVE 50%!</p>

		  		<%= link_to "#pricing-section", class: "pricing-section-link" do %>
		  		  <%= image_tag("cdl-test/access-btn.png", class: "center-image") %>
		  		<% end %>
		  	</div>
		  	<div class="col-sm-6">
			    <iframe width="440px" height="300px" src="//www.youtube.com/embed/Ik-lPTW6xFA?rel=0" frameborder="0" allowfullscreen></iframe>
		  	</div>
		  </div>
		  <div class="row text-center">
		    <h2 class="cdl-test__h2">2015-2016 CDL Test Questions and Answers</h2>
		    <div class="cdl-test__bold-text">
		      The Proven CDL Exam Study System
		    </div>
		    <div class="cdl-test__smaller-headline-text">
		      Get instant access today and pass your exam!
		    </div>
		    <%= link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6D99NGNCK8UB6" do %>
		      <%= image_tag("cdl-test/cdl_test_complete_system.png") %>
		    <% end %>
		    <div class="col-sm-12" style="padding-top: 40px">
			    <%= image_tag("cdl-test/2016-cdl-test-answers.png") %>
			  </div>
		  </div>

		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1 cdl-test__note">
			    <p>We're glad you're here!</p>

			    <p>We know exactly why you came here. You need to pass the CDL test and you don't want to spend hours trying to figure out what to study only to fail the test and need to retake it a few times. We know how tricky tests can be - even if you study everything they still try to get you by wording questions in a weird way. We've been there too, and that's why we developed this system. It gives you the questions and answers you NEED so you'll be ready for everything that comes your way on test day.</p>

			    <p>Getting or renewing your commercial drivers license is SMART! Here's why:</p>
			  </div>
			  <div class="col-sm-10 col-sm-offset-1">
			    <ul class="cdl-test__benefits">
			      <li><span class="capital-bold">Job security!</span> Commercial drivers are ALWAYS wanted, no matter how bad the economy!</li>
			      <li><span class="capital-bold">Competitive salary!</span> In a few years, you could be earning more than $50,000 year.</li>
			      <li><span class="capital-bold">Low investment!</span> You don't need to go into debt or spend years trying to get your license.</li>
			      <li><span class="capital-bold">Make a difference!</span> People COUNT on commercial drivers for all their needs.</li>
			      <li><span class="capital-bold">It's enjoyable!</span> It's not for everyone, but commercial drivers love what they do!</li>
			      <li><span class="capital-bold">Get paid to travel!</span> You'll see new things and meet new people.</li>
			      <li><span class="capital-bold">Flexible hours!</span> Get a schedule that works for you.</li>
			    </ul>
			  </div>
			  <div class="col-sm-10 col-sm-offset-1 cdl-test__note">
			    <p>We are here to make sure you pass your test the first time. Thousands of people take and fail the CDL exams and give up. We understand how this feels - taking tests sucks, especially when they're all that's standing in your way. It's stressful enough trying to make sure you take care of all the requirements, you shouldn't have to worry about tricky test questions too. </p>

			    <p>Our <%= Time.now.year %> CDL Test System is available to you today. It's cheaper than most dinners at restaurants and if you use it, we guarantee you'll pass the first time or your money back. You really have nothing to lose by trying our system.</p> 
			  </div>
			</div>
		  <div class="row text-center">
		    <%= image_tag("cdl-test/cdl-test-guarantee.png") %>
		    <div class="col-sm-10 col-sm-offset-1">
			    <div class="cdl-test__blue-info">
			      THIS IS NOTHING LIKE WHAT YOU'VE SEEN BEFORE.
			    </div>
			    <div class="cdl-test__note--bold">
				    <p>We spent hundreds of hours developing this CDL Study System. We run businesses that require our drivers to have commercial licenses. So we need them to pass their exams the first time. Guess what? They use our study system because it JUST WORKS. That's the difference between us and the other guys. We made the CDL Study System for ourselves first, so we know firsthand that it works. And it will work for you, too.</p> 
					</div>
					<div class="cdl-test__margin">
						<div class="cdl-test__bold-text">
				      Look at what you get
				    </div>
						<div class="cdl-test__smaller-headline-text">
				      The Study Guide (Everything You Need to Know):
				    </div>
				  </div>
			  </div>
			  <%= image_tag("cdl-test/cdl-study-guide-screens.png") %>
			  <div class="cdl-test__margin">
				  <div class="cdl-test__smaller-headline-text">
			      The Practice Tests (Questions and Answers):
			    </div>
			  </div>
		    <%= image_tag("cdl-test/cdl-practice-test-screens.png") %>
		  </div>

		  <div class="row text-center">
		    <div class="cdl-test__margin">
			  	<div class="cdl-test__bold-text">
			      Here's all you get with our system:
			    </div>
		    </div>
		  </div>
      <div class="row">
		  	<div class="col-sm-10 col-sm-offset-1 cdl-test__large-bullet-points bp--green">
			    <p><i class="fa fa-check-circle fa-3x"></i>Our <strong>CDL study guide</strong>. This guide took us hundreds of hours to create. We cut through the CDL manual and took only the information you need to pass and got rid of the rest so you don't waste your time studying extra information. This is where you'll learn the information.</p>
		      <p><i class="fa fa-check-circle fa-3x"></i>Our <strong>Practice test portal</strong>. Put your knowledge to the test! We have practice test questions and answers for all sections so you can see exactly what you would score if you took the test right now. Practice as many times as you need and even save your progress midway.</p>
		      <p><i class="fa fa-check-circle fa-3x"></i><strong>INSTANT ACCESS!</strong> As soon as you order, you'll be able to create your account and access all your study materials. No need to wait for anything to be shipped. Just start studying as soon as you're ready to go. You can even access your materials from your phone or tablet!</p>
		      <p><i class="fa fa-check-circle fa-3x"></i><strong>Expert support</strong>. We're different from the other guys because we support you the whole way. We have the best service in the industry, and we know what we're talking about - we've taken and passed the CDL exams and can help you do it too. Get help from experts that have done it before!</p>
		      <p><i class="fa fa-check-circle fa-3x"></i>As a bonus, we include <strong>ALL ENDORSEMENTS!</strong> So no matter what your goals are with your commercial drivers license, our system can help you get there. All you need to do is act now and get our system! Once you get our system, use it and you'll succeed. We guarantee it!</p>
			  </div>
		  </div>

		  <div class="row text-center">
		    <%= image_tag("cdl-test/cdl-study-system-comparison.png") %>
		  </div>

		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1">
			  	<table class="table table-hover cdl-test__table">
				    <thead>
				      <tr>
				        <th></th>
				        <th>CDL Study Guide HQ</th>
				        <th>Other Paid Options</th>
				        <th>"Free" Options</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Price</td>
				        <td>One time payment</td>
				        <td>High fees, sometimes monthly.</td>
				        <td>Ads everywhere</td>
				      </tr>
				      <tr>
				        <td>Version</td>
				        <td>2015-2016</td>
				        <td>2012</td>
				        <td>Not current</td>
				      </tr>
				      <tr>
				        <td>Set Up Time</td>
				        <td>None. All accesible online.</td>
				        <td>Lengthy downloads and confusing software</td>
				        <td>Varies.</td>
				      </tr>
				      <tr>
				        <td>Guarantee</td>
				        <td>100% Money Back (lifetime)</td>
				        <td>30 Days (if any)</td>
				        <td>None</td>
				      </tr>
				      <tr>
				        <td>What You Get</td>
				        <td>Practice test portal with test questions and answers and automatic scoring.
				          Easy to read and understand study guide.
				          Expert help and support.
				          Free lifetime updates.
				          Bonus test taking tips. </td>
				        <td>Outdated tests and manuals, difficult to navigate sites, complicated downloads and software.</td>
				        <td>Very old practice tests with incorrect information covered in ads.</td>
				      </tr>
				      <tr>
				        <td>Used by Creators</td>
				        <td>Yes. We use our own study system to pass our test and help our employees pass theirs.</td>
				        <td>Nope. Most likely not even familiar with the commercial driving industry.</td>
				        <td>Not at all. These sites are made just to earn ad revenue from visitors.</td>
				      </tr>
				      <tr>
				        <td>Where can you study?</td>
				        <td>Use our study system on your computer, tablet, or even your phone. You can also print the study guide if you prefer to look at actual paper.</td>
				        <td>Difficult to navigate on computers alone.</td>
				        <td>Won't work on smaller computers, tablets, or phones and nothing to print.</td>
				      </tr>
				      <tr>
				        <td>Support options</td>
				        <td>Call us, email us, or reach out to us on Facebook!</td>
				        <td>Slow email responses (if any).</td>
				        <td>None. You're on your own.</td>
				      </tr>
				      <tr>
				        <td>Overall Rating</td>
				        <td><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></td>
				        <td><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half fa-2x"></i></td>
				        <td><i class="fa fa-star-half fa-2x"></i></td>
				      </tr>
				    </tbody>
				  </table>
				</div>
		  </div>
		  
		  <div class="row text-center">
		  	<h2 class="cdl-test__h2" style="margin: 20px 0;">Here's what we know:</h2>
		  </div>
		  <div class="row">
		  	<div class="col-sm-10 col-sm-offset-1 cdl-test__large-bullet-points bp--black">
			    <p><i class="fa fa-arrow-circle-o-right fa-3x"></i>Thousands fail the CDL exam each year. We've taken it and understand why - it's difficult, and the study materials you'll find currently on the market <strong>are not helpful</strong>. We developed the CDL Study System for ourselves and our workers, and it's helping everyone pass.</p>
		      <p><i class="fa fa-arrow-circle-o-right fa-3x"></i>There are tons of "free" CDL study materials out there. These study materials are next to useless. You can check them out yourself if you don't mind wasting your time. There is a reason they are free - they aren't going to help you pass!</p>
		      <p><i class="fa fa-arrow-circle-o-right fa-3x"></i>State CDL manuals can be difficult to come by. So even the basic information that you need to learn the material in the first place is not readily available. You can save yourself the trouble of trying to hunt down these hard to read manuals and get the information you need from us.</p>
		      <p><i class="fa fa-arrow-circle-o-right fa-3x"></i>The CDL test has tricky and confusing questions. Even if you're a qualified driver, you might fail the test because you're not used to the way questions are worded. We think this is terribly unfair, and that's why we level the playing field with our practice test questions and answers.</p>
		      <p><i class="fa fa-arrow-circle-o-right fa-3x"></i>Not passing your CDL exam the first time is a huge setback. Not only does it take up your valuable time, but some tests mght limit how many attempts you can make. So if you want to get your license now, you need to prepare with our study system today.</p>
			  </div>
		  </div>

		  <div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1 cdl-test cdl-test__dark-guarantee">
		      <div class="col-sm-6">
		      	<%= link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6D99NGNCK8UB6" do %>
		  		    <%= image_tag("cdl-test/addtocart.png") %>
		  		  <% end %>
		      </div>

		      <div class="col-sm-6">
		        <h2>We 100% Guarantee You'll Pass!</h2>
		        <p>Pass your CDL test the first time or get your money back!</p>
		      </div>
		    </div>
		  </div>

		  <div class="row">
        <div class="col-sm-10 col-sm-offset-1 cdl-test__testimonial">
          <h4>Testimonial from a Happy Customer</h4>
          <%= image_tag("cdl-test/gabriel.png", class: "cdl-test__center-image") %>
        	<p>"The CDL study guides I've got through CDL Study Guide HQ really helped me out on cutting the amount of time and effort I spent learning the principles of commercial driving written test. Specially for those tricky questions that have your hair turn grey. I truly recommend it to anyone that wants the fast track!”</p>
        	<p><strong>Gabriel Mendoza - Hanford, CA</strong></p>
        	
        </div>
		  </div>

		  <div class="row text-center">
		    <%= image_tag "cdl-test/bonuses.png" %>
		  </div>

		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1 cdl-test-bonus">
		      <div class="cdl-test-bonus__header text-center">
		        Bonus 1
		      </div>
		      <div class="cdl-test__blue-info text-center">
			      Expert customer support!
			    </div>
			    <%= image_tag("cdl-test/taylor") %>
			    <p>Our system is so staightforward and simple to use that you probably won't even need support! But I'm here if you need it. I created the CDL Study System and have used it to pass the test myself! I've also given it to my employees so they can pass the tests! I know exactly how effective it is and that's why I'm so confident it will work for you.</p>
				  <div class="col-sm-12" style="margin-top: -70px; margin-bottom: 20px">
				    <h2 class="cdl-test__h2 text-center">You don't get this anywhere else!</h2>
				  </div>
		    </div>
		  </div>

		  <div class="row text-center">
		    <%= image_tag("cdl-test/down-arrows.png") %>
		  </div>

		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1 cdl-test-bonus">
		      <div class="cdl-test-bonus__header text-center">
		        Bonus 2
		      </div>
		      <div class="cdl-test__blue-info text-center">
			      Take Our Study System Anywhere!
			    </div>
			    <%= image_tag("cdl-test/complete_system-bonus-1.png") %>
			    <p>We know you're busy. Finding time to study is not always easy, esepcially when you have so much to do. That's why we provide all our materials in every format so you can access them ANYWHERE! Our practice tests work on your computer, your tablet, and your phone, and our study guide can even be printed if you want! You'll see how easy it is to study when you can do it any time, and that's why you're going to pass!</p>
			    <p>You get all of this and can take it everywhere you go!</p>
			    <div class="col-sm-8 col-sm-offset-2">
				    <ul class="cdl-test__benefits">
				      <li><span class="capital-bold">Everything</span> to pass the Class A exam!</li>
				      <li><span class="capital-bold">Everything</span> to pass the Class B exam!</li>
				      <li><span class="capital-bold">Doubles/Triples</span> test answers and questions</li>
				      <li><span class="capital-bold">Tank Vehicles</span> test answers and questions</li>
				      <li><span class="capital-bold">Hazardous Material</span> test answers and questions</li>
				      <li><span class="capital-bold">Passenger</span> test answers and questions</li>
				      <li><span class="capital-bold">School Bus</span> test answers and questions</li>
				    </ul>
				  </div>
				  <div class="col-sm-12" style="margin-top: -70px; margin-bottom: 20px">
				    <h2 class="cdl-test__h2 text-center">With all of this, you can't fail!</h2>
				  </div>
		    </div>
		  </div>

		  <div class="row text-center">
		    <%= image_tag("cdl-test/down-arrows.png") %>
		  </div>
		  <div class="row text-center">
		  <%= image_tag("cdl-test/cdl-test-sale.png") %>
		  </div>
		  <div class="row text-center">
		    <%= link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6D99NGNCK8UB6" do %>
		  		  <%= image_tag("cdl-test/add-to-cart.png") %>
		  		<% end %>
		  </div>

		  <div class="row text-center">
		    <%= image_tag("cdl-test/cdl-money-back.png") %>

		    <h2 class="cdl-test__h2" style="margin-top: 0px; margin-bottom: -40px; padding: 40px">Remember, this is all backed by our iron clad guarantee. If you don't pass your CDL test the first time, let us know and we'll refund every penny. We know you'll succeed if you use our system - that's how we can make this promise.</h2>
		  </div>

		  <div class="row text-center">
		    <div class="cdl-test__blue-info">
		      Let's recap everything you get with our system
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-sm-10 col-sm-offset-1">
			    <ul class="cdl-test__benefits">
			      <li><span class="capital-bold">Complete study guide</span>: Everything you need to know to pass the test.</li>
			      <li><span class="capital-bold">Take it anywhere</span>: Read the study guide on your phone, computer, tablet or even PRINT it.</li>
			      <li><span class="capital-bold">Practice test portal</span>: The questions and answers you will see on your actual test.</li>
			      <li><span class="capital-bold">Unlimited attempts</span>: Practice the tests as many times as you need to!</li>
			      <li><span class="capital-bold">Automatic scoring</span>: Our system calculates your score so you'll know if you'd pass or not!</li>
			      <li><span class="capital-bold">Save your place</span>: In the middle of taking your test and get interrupted? No problem, save and finish later!</li>
			      <li><span class="capital-bold">Everything</span> to ace the Class A exam!</li>
			      <li><span class="capital-bold">Everything</span> to ace the Class B exam!</li>
			      <li><span class="capital-bold">Doubles/Triples Trailer Endorsement</span> test answers and questions</li>
			      <li><span class="capital-bold">Tank Vehicles Endorsement</span> test answers and questions</li>
			      <li><span class="capital-bold">Hazardous Material Endorsement</span> test answers and questions</li>
			      <li><span class="capital-bold">Passenger Vehicle Endorsement</span> test answers and questions</li>
			      <li><span class="capital-bold">School Bus Endorsement</span> test answers and questions</li>
			      <li><span class="capital-bold">World Class</span> customer support!</li>
			      <li><span class="capital-bold">100% Guarantee</span> to pass or your money back!</li>
			    </ul>
			  </div>
		  </div>

		  <div class="row text-center">
		    <%= image_tag("cdl-test/down-arrows.png") %>
		  </div>

		  <div class="row text-center">
		    <a name="pricing-section"></a>
		    <%= link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6D99NGNCK8UB6" do %>
		      <%= image_tag("cdl-test/cdl-study-system-offer.png") %>
		    <% end %>
		  </div>

		  <div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1 cdl-test__footer">
		      <%= link_to "Home", :root %> | <%= link_to "Blog", "http://blog.cdlstudyguidehq.com" %> | <%= link_to "Contact", :contact %> | <%= link_to "Terms", :terms %>
		    </div>
		  </div>

		</div>
	</body>
</html>