<%= render partial: "top_section" %>

<div class="row text-center">
  <% if params[:state] && @states.include?(params[:state]) %>
    <% @state = params[:state] %>
    <h1><%= params[:state] %> CDL Practice Tests and Study Guides</h1>
  <% else %>
    <h1>CDL Practice Tests and Study Guides</h1>
  <% end %>

  <div class="col-sm-10 col-sm-offset-1">
    <p class="state-paragraph">The <%= @state %> CDL exams are not easy to pass. That's why we created the <%= @state %> CDL Practice Test and Study Guide System. We've spent hundreds of hours developing materials that are designed to make studying simple so you don't have to stress and can pass them the first time. That's right - we're so confident in our <%= @state %> study guides and practice test portal (for all endorsements) that we guarantee you'll pass if you use them.</p>
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <%= link_to raw("I Want to Pass the #{@state} Class A CDL Exam"), :class_a_endorsement, class: "btn btn-danger" %>
    <p class="home-or"><span>or</span></p>
    <p><%= link_to "Select a specific endorsement package below", "#", class: "other-packages pricing-section-link" %></p>
  </div>
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xxs-12">
    <div class="guarantee">
      <%= image_tag("guarantee.png") %>
      <h2>The CDLStudyGuideHQ.com<br/> Guarantee</h2>
      <p>If you don't pass your knowledge test, it's on us. We'll refund you 100%.</p>
    </div>
  </div>
</div>

<div class="row home-main"> 
  <div class="col-md-1 col-hidden-xs"></div> 
  <div class="col-md-5 col-md-push-5">
    <a name="pricing-section"></a>
    <div class="home-prices">
      <h2>Packages <span class="label label-danger">Best Deal</span></h2>
      <h3>Study Guides + Practice Tests</h3>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "Class A + All Endorsements", :class_a_endorsement, class: "h4" %>
          <p>(Study Guide + 468 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to raw("<span>$94</span> $47"), :class_a_endorsement %></div>
      </div>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "Class B + All Endorsements", :class_b_endorsement, class: "h4" %>
          <p>(Study Guide + 468 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to "$47", :class_b_endorsement %></div>
      </div>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "Double/Triple", :double_triple_endorsement, class: "h4" %>
          <p>(Study Guide + 294 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to "$17", :double_triple_endorsement %></div>
      </div>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "Haz Mat (H)", :hazardous_materials_endorsement, class: "h4" %>
          <p>(Study Guide + 75 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to "$17", :hazardous_materials_endorsement %></div>
      </div>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "Tanker (N)", :tank_vehicle_endorsement, class: "h4" %>
          <p>(Study Guide + 344 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to "$17", :tank_vehicle_endorsement %></div>
      </div>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "Passenger (P)", :passenger_vehicle_endorsement, class: "h4" %>
          <p>(Study Guide + 194 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to "$17", :passenger_vehicle_endorsement %></div>
      </div>
      <div class="package-and-price">
        <div class="col-xs-10 col-xxs-12">
          <%= link_to "School Bus (S)", :school_bus_endorsement, class: "h4" %>
          <p>(Study Guide + 175 Practice Questions)</p>
        </div>
        <div class="col-xs-2 col-xxs-12"><%= link_to "$17", :school_bus_endorsement %></div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-md-pull-5">
    <div class="home-info">
      <h3>CDL Practice Tests</h3>
      <p>If you are looking for CDL practice tests, you came to the right spot. Our Class A CDL test is unmatched in the industry. Our editors work hard every day to ensure that you are given the most most accurate and current CDL practice test questions available. Don't be fooled - this is not an easy exam. But with hard work, determination, and our proven method, you will pass.</p>
      <h3>CDL Knowledge Test</h3>
      <p>If you are looking for the ultimate CDL test online, look no further. CDLStudyGuideHQ.com is by far the best study resource on the market. It is no coincidence that our tests win the "CDL Pre-Test Resource" awards every year. If you are a looking for a free CDL test, we understand. Not everyone has the money to spend on testing resources. That is why we created our hardship program. If you qualify, we will send you a discount coupon to help you achieve your goals.</p>
    </div>
  </div>
</div>