<% content_for :head do %>
  <title>Class B Endorsement Study Guide & Practice Tests</title>
  <meta name="description" content="Class B Endorsement study guides and practice tests are available at CDLStudyGuideHQ.com - check them out here.">
<% end %>

<div class="row text-center">
  <div class="col-sm-12">
    <h1>The CDL Class B Study Guide System</h1>
    <h4>Includes the CDL Class B Study Guide and Access to the CDL Class B Practice Test Portal + All Endorsements!</h4>
  </div>
</div>

<div class="row test-page-top">
  <div class="col-sm-12">
	  <p>Our Class B study guide stystem will help you prepare for the exams allowing you to get your license in your state. After getting your Class B license, you'll be able to drive farm labor vehicles, buses, trailers or housercars under 45 feet. We include the different endorsements so you'll be fully prepared whether you need to pull double/triple trailers, transport hazardous materials, drive school buses, pull tank vehicles, or drive vehicles without air brakes.</p> 

    <p>We have a couple of excellent options to help you pass your Class B CDL exam. The first is our study guide - this was painstakingly written to prepare you for every question you'll encounter on test day. The other option is our Class B Practice Test portal. Here, you'll be able to actually practice the test online however many times you like. See where you are at in your studies with these interactive questions.</p>

    <p>You can get both the Class B study guide and access to the practice test portal in one convenient package as well (this is the best value, you'll save $14 and it's backed by our satisfaction guarantee). So what are you waiting for? Start preparing for your Class B exam now!</p>
	</div>

	<div class="col-sm-4 col-sm-offset-4">
	  <%= link_to "I'M READY TO PASS", "#pricing-section", class: "btn btn-danger btn-lg pricing-section-link" %>
	</div>
</div>

</div><!-- close main container -->

<section class="test-page-header">
	<div class="container">
	  <div class="col-sm-5 col-sm-offset-1">
			<h2>Material Covered</h2>

			<h4><i class="fa fa-check"></i> Section 1: Introduction</h4>
			<h4><i class="fa fa-check"></i> Section 2: Driving Safely</h4>
			<h4><i class="fa fa-check"></i> Section 3: Transporting Cargo Safely</h4>
			<h4><i class="fa fa-check"></i> Section 4: Transporting Passengers Safely</h4>
			<h4><i class="fa fa-check"></i> Section 5: Air Brakes</h4>
			<h4><i class="fa fa-check"></i> Section 6: Combination Vehicles</h4>
			<h4><i class="fa fa-check"></i> Section 10: School Buses</h4>
			<h4><i class="fa fa-check"></i> Section 11: Pre-Trip Vehicle Inspection Test</h4>
			<h4><i class="fa fa-check"></i> Section 12: Basic Vehicle Control</h4>
			<h4><i class="fa fa-check"></i> Section 13: On-Road Driving</h4>

		</div>
		<div class="col-sm-6 video">
		  <div class="videoWrapper">
	      <iframe src="//www.youtube.com/embed/yNT7YCE6EHw?rel=0" frameborder="0" allowfullscreen></iframe>
	    </div>
	  </div>
	</div>
</section>

<div class="container">
  <div class="row page-package-info">
    <div class="col-sm-6">
			<h2>CDL Class B Study Guide</h2>
			<%= image_tag "cdl_study_guide-page.png", alt: "CDL class B study guide", class: "cdl-book-image" %>
			<ul class="book">
			  <li>Easy to Understand!
			  <li>Don't Memorize Hundreds of Pages!
			  <li>Available for YOUR State!
			  <li>Take it anywhere
			</ul>
			<p>Our Class B study guide took hundreds of hours to develop. It includes only the information you need to know for your Class B exam on test day with our expert strategies on how to ace the test. We cut out all the extra information and fluff you'll find if you try to prepare on your own, so you can hone in on what you need to know. Start studying now so you can get your Class B license and then the career you're after.</p>

			<p>We made our Class B study guide available in PDF, mobi, and ePub formats so you can study it wherever you go on whichever type of device you prefer. Feel confident knowing that you're studying the right material straight from the experts, and you'll do great on test day.</p>

			<div class="row text-center">
			  <%= link_to "Get it Now", "#", class: "btn btn-info pricing-section-link" %>
			</div>
		</div>

		<div class="col-sm-6">
			<h2>CDL Class B Practice Test</h2>
			<%= image_tag "cdl-practice-test.png", alt: "Class B endorsement practice test", class: "cdl-book-image" %>
			<ul class="book">
			  <li>Actual Test Questions!
			  <li>Interactive and easy to use!
			  <li>Get prepared for the DMV Test!
			  <li>Works on all devices! 
			</ul>

      <p>We built our Class B practice test portal to prepare you for the actual test. A lot of the exam questions you'll run into are the same as what you'll actually see on test day! We've even made some of the questions harder so on the day of the actual test, you'll be completely confident. We spent a lot of time on these test questions because we want you to pass.</p>

      <p>In our Class B practice test portal, you'll see hundreds of test questions. It's a good idea to take 50 questions at a time (it can get really tiring trying to do them all at once). We don't recommend ever taking more than 50 at a time on your test day.</p>

			<p>We designed our Class B test section to look like what you'll see at the DMV. We made it this way so your mind gets accustomed to it. Studies have shown that simulating the actual test as closely as possible can help with memory retention. The best part is that you can take our practice test on any device you have (computer, phone, or tablet, whichever is easiest for you).</p>

			<div class="row text-center">
			  <%= link_to "Get Started Now", "#", class: "btn btn-info pricing-section-link" %>
			</div>
		</div>
	</div>
</div>

<section class="package-cta">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Make your life easier.
          <%= link_to "Get Your Study Materials", "#", class: "btn btn-success pricing-section-link" %></h3>
        </h3>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row text-center">
    <a name="pricing-section"></a>
    <h2>CDL Class B Practice Test and Study Guide</h2>
    <p>Choose your package below to get started.</p>
  </div>
	<div class="row pricing-row">
	  <div class="col-sm-12">
			<div id="pricing-table" class="pricing-table">
			  <ul>
			    <li class="heading">Study Guide</li>
			    <li><strong>Learn</strong> About the Test</li>
			    <li><strong>Powerful</strong> Strategies</li>
			    <li>Test Day Tips</li>
			    <li>PDF, ePub, mobi formats</li>
			    <li><strong>Money back guarantee</strong></li>
			    <li class="price"><span class="dollar">$</span>24</li>
			    <li><%= link_to "Buy Now", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SNPZU7UW5HLPU", class: "btn btn-primary btn-lg" %></li>
			  </ul>

			  <ul class="feature">
			    <li class="heading">
			      Complete Package <span class="label label-danger">Best Deal</span><br/>(Practice Test + Study Guide)
			    </li>
			    <li><strong>Complete</strong> Practice Test</li>
			    <li><strong>All</strong> Study Guide Formats</li>
			    <li><strong>Full</strong> Access</li>
			    <li><strong>Master</strong> the Test</li>
			    <li><strong>Money back guarantee</strong></li>
			    <li class="price"><span class="dollar">$</span>47</li>
			    <li><%= link_to "Buy Now", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HC9WC6SEQW6FY", class: "btn btn-primary btn-lg btn-danger" %></li>
			  </ul>

			  <ul>
			    <li class="heading">Practice Test</li>
			    <li><strong>200</strong> Questions</li>
			    <li>Interactive</li>
			    <li><strong>Automatic</strong> Scoring</li>
			    <li><strong>Unlimited</strong> Attempts</li>
			    <li><strong>Money back guarantee</strong></li>
			    <li class="price"><span class="dollar">$</span>37</li>
			    <li><%= link_to "Buy Now", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KU4KCPW49Q4DU", class: "btn btn-primary btn-lg" %></li>
			  </ul>
			</div>
		</div>
	</div>