<h2><%= @attempt.test.name %> Test</h2>
<% if @attempt.place? %>
	<p>You have correctly answered: <%= pluralize(@attempt.score, 'question') %></p>
	<p>You have incorrectly answered: <%= pluralize(@attempt.incorrect, 'question') %></p>
	<p>Left to answer: <%= pluralize(remaining_questions(@attempt.test.questions.count, @attempt.score, @attempt.incorrect), 'question') %></p>
	<%= link_to raw('Resume the test <i class="fa fa-angle-double-right"></i>'), test_question_path(@attempt.test.id, @attempt.place, attempt: @attempt.id), id: "resume-test", class: "btn btn-success" %><br>
<% elsif @attempt.completed %>
  <% if @attempt.score + @attempt.incorrect != @attempt.test.questions.count %>
    <h3>There was a problem calculating your score. Please try the test again.</h3>
  <% else %>
		<h3>Your score was: <%= @attempt.score %> correct out of <%= pluralize(@attempt.test.questions.count, 'question') %></h3>
	<% end %>
	<p><%= link_to "Try this test again", test_question_path(@attempt.test.id, @attempt.test.questions.first.id), class: "clear-score btn btn-info" %></p>
<% else %>
  <p>There was a problem.</p>
<% end %>
<div style="margin-top: 20px">
  <%= link_to "Back to my dashboard", :dashboard, class: "btn btn-primary" %>
</div>

<script>
	// Resume the test
  $("#resume-test").click(function() {
  	// Set current score
  	sessionStorage.setItem("score", "<%= @attempt.score %>");
  	// Set current incorrect
  	sessionStorage.setItem("incorrect", "<%= @attempt.incorrect %>");
  	// Ensure reloding controls are correctly set
  	sessionStorage.setItem("answered", false);
  	sessionStorage.setItem("submitted", false);
  	// Ensure the user is on the right path
  	sessionStorage.setItem("path", true);
  })
</script>