<div class="nested-fields">
<p>
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</p>
<p>
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</p>
<p>
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
<p>
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</p>
</div>
