<div class="nested-fields">
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</div>

<div class="nested-fields">
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</div>

<div class="nested-fields">
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</div>

<div class="nested-fields">
  <%= f.label :answer, "Answer" %>      
  <%= f.text_field :answer %>
  <%= f.label :is_correct, "Correct answer" %>
  <%= f.check_box :is_correct %>
</div>
