<div class="field">
  <%= f.fields_for :questions do |q| %>
    <p><%= q.label :text, "Question" %>      
    <%= q.text_field :text %></p>
    <%= q.fields_for :choices do |c| %>
      <p><%= c.label :answer, "Answer" %>      
      <%= c.text_field :answer %>
      <%= c.label :is_correct %>
      <%= c.check_box :is_correct %></p>
       <p><%= c.label :answer, "Answer" %>      
      <%= c.text_field :answer %>
      <%= c.label :is_correct %>
      <%= c.check_box :is_correct %></p>
       <p><%= c.label :answer, "Answer" %>      
      <%= c.text_field :answer %>
      <%= c.label :is_correct %>
      <%= c.check_box :is_correct %></p>
       <p><%= c.label :answer, "Answer" %>      
      <%= c.text_field :answer %>
      <%= c.label :is_correct %>
      <%= c.check_box :is_correct %></p>
    <% end %>
  <% end %>
</div>