<%#= current_user.package %>
<div id="user-practice-study">
  <h1>Your CDL Study System Portal</h1>
  <div class="row text-center">
    <% case current_user.package %>
      <% when "pcca" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/itca" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/isca" %>
        </div>
      <% when "pccb" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/itcb" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/iscb" %>
        </div>
      <% when "pchm" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/ithm" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/ishm" %>
        </div>
      <% when "pcdt" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/itdt" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/isdt" %>
        </div>
      <% when "pctv" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/ittv" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/istv" %>
        </div>
      <% when "pcpp" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/itpp" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/ispp" %>
        </div>
      <% when "pcsb" %>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/practice_tests/itsb" %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render partial: "tests/study_guides/issb" %>
        </div>
      <% when "isca" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/isca" %>
        </div>
      <% when "iscb" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/iscb" %>
        </div>
      <% when "ishm" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/ishm" %>
        </div>
      <% when "isdt" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/isdt" %>
        </div>
      <% when "isdt" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/istv" %>
        </div>
      <% when "istv" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/ispp" %>
        </div>
      <% when "ispp" %>
        <div class="col-md-12">
          <%= render partial: "tests/study_guides/issb" %>
        </div>
      <% when "itca" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/itca" %>
        </div>
      <% when "itcb" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/itcb" %>
        </div>
      <% when "ithm" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/ithm" %>
        </div>
      <% when "itdt" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/itdt" %>
        </div>
      <% when "ittv" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/ittv" %>
        </div>
      <% when "itpp" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/itpp" %>
        </div>
      <% when "itsb" %>
        <div class="col-md-12">
          <%= render partial: "tests/practice_tests/itsb" %>
        </div>
      <% else %>
        <p>There was a problem. Please contact support.</p>
    <% end %>
  </div>
</div>

<h1>Debug Stuff Below</h1>

<% @tests.includes(:attempts).each do |test| %>
  <h3><%= test.name %></h3>
  <p><% if active_attempts(current_user, test).any? && last_attempt_in_progress(current_user, test) %>
    <%= link_to "Resume this test", attempt_path(last_attempt(current_user, test).id), class: "btn btn-success" %> or 
    <%= link_to 'Start over', test_question_path(test.id, test.questions.first.id), class: "clear-score btn btn-info" %>
  <% else %>
    <%= link_to raw('Start the test <i class="fa fa-angle-double-right"></i>'), test_question_path(test.id, test.questions.first.id), class: "clear-score btn btn-info" %>
  <% end %></p>

  <div class="well">Admin Stuffs, remove later
  <%= link_to 'Edit', edit_test_path(test) %> | <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br>

<%= link_to 'New Test', new_test_path, data: { no_turbolink: true }, class: "btn btn-success" %>