<h1>CDL Practice Tests</h1>

<%= current_user.package %>

<% if current_user.package == "ult932" %>
  <%= render partial: "ultimate" %>
<% elsif current_user.package == "x16ty" %>
  <%= render partial: "premium" %>
<% elsif current_user.package == "regsies" %>
  <%= render partial: "basic" %>
<% else %>
  <p>There was a problem. Please contact support.</p>
<% end %>

<% @tests.includes(:attempts).each do |test| %>
  <h3><%= test.name %></h3>
  <p><% if active_attempts(current_user, test).any? && last_attempt_in_progress(current_user, test) %>
    <%= link_to "Resume this test", attempt_path(last_attempt(current_user, test).id), class: "btn btn-success" %> or 
    <%= link_to 'Start over', test_question_path(test.id, test.questions.first.id), class: "clear-score btn btn-info" %>
  <% else %>
    <%= link_to raw('Start the test <i class="fa fa-angle-double-right"></i>'), test_question_path(test.id, test.questions.first.id), class: "clear-score btn btn-info" %>
  <% end %></p>

  <div class="well">Admin Stuffs, remove later
  <%= link_to 'Edit', edit_test_path(test) %> | <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br>

<%= link_to 'New Test', new_test_path, data: { no_turbolink: true }, class: "btn btn-success" %>