<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% else %>
    <title>CDL Study Guides and Practice Tests</title>
    <meta name="description" content="Looking for CDL study guides and practice tests? CDLStudyGuideHQ.com has them for all endorsements - and we guarantee your success!">
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale = 1.0" />
  <meta name="google-site-verification" content="XQHxRQvR1cA1K95SRb2W-LoY7my2IvMNlFmwiZrOQAI" />
  <%= csrf_meta_tags %>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-69264714-2', 'auto');
	  ga('send', 'pageview');
  </script>
  <!-- A/B Testing -->
  <script src="//load.sumome.com/" data-sumo-site-id="08202171dba54b85d3b9e49e52e4d79c69e3cbd8eb22d5381f2002dbf2de8be5" async="async"></script>
</head>
<body<% if user_signed_in? %> account-body data-no-turbolink="true"<% end %>>
  <div class="navbar navbar-default navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">

	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <% if user_signed_in? %>
		      <%= link_to :dashboard do %>
		        <%= image_tag 'cdl-logo-small-white.png', class: "navbar-brand" %>
		      <% end %>
		    <% else %>
		      <%= link_to root_path do %>
		        <%= image_tag 'cdl-logo-small-white.png', class: "navbar-brand" %>
		      <% end %>
		      <%= link_to 'CDL Study Guide and Practice Tests', :study_and_practice, class: "navbar-brand" %>
		    <% end %>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">

	      <ul class="nav navbar-nav navbar-right">
	      	<% if user_signed_in? %>
	      	  <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">My Account <span class="caret"></span></a>
		          <ul class="dropdown-menu" aria-labelledby="download">
	              <%#= link_to 'My Profile', user_path(current_user) %>
	              <li><%= link_to 'My Account', :dashboard %></li>
		            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
		            <li class="divider"></li>

		            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		          </ul>
	        	</li>

	        <% else %>
	          <%= link_to "Pass Your Tests Now", :study_and_practice, class: "btn btn-danger navbar-btn order" %>
		        <li><%= link_to "Log In", new_user_session_path %></li>
		      <% end %>
	      </ul>

	    </div>
	  </div>
  </div>

	<div class="container">
	  <% if notice %>
		  <div class="alert alert-dismissible alert-success">
			  <button type="button" class="close" data-dismiss="alert">X</button>
			  <%= notice %>
		  </div>
		<% elsif alert %>
	    <div class="alert alert-dismissible alert-danger">
		    <button type="button" class="close" data-dismiss="alert">X</button>
		    <%= alert %>
	    </div>
	  <% end %>
    <%= yield %>
  </div>
  <% if user_signed_in? %>
		<footer class="account-footer">
		  <ul>
		    <li><%= link_to "About CDLStudyGuideHQ.com", :about %>
		    <li><%= link_to "Help & Support", :contact %>
		    <li><%= link_to "Guarantee", :guarantee %>
		    <li><%= link_to "Terms & Conditions", :terms %>
		    <li><%= link_to "Blog", "http://blog.cdlstudyguidehq.com" %>
		  </ul>
		</footer>
	<% else %>
	  <footer>
		  <%= image_tag('guarantee-paypal.png') %>
		  <ul>
		    <li><%= link_to "About CDLStudyGuideHQ.com", :about %>
		    <li><%= link_to "Help & Support", :contact %>
		    <li><%= link_to "Guarantee", :guarantee %>
		    <li><%= link_to "Terms & Conditions", :terms %>
		    <li><%= link_to "Blog", "http://blog.cdlstudyguidehq.com" %>
		  </ul>
		</footer>
	<% end %>
</body>
</html>
