<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% else %>
    <title>CDL Study Guides and Practice Tests</title>
    <meta name="description" content="Looking for CDL study guides and practice tests? CDLStudyGuideHQ.com has them for all endorsements - and we guarantee your success!">
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale = 1.0" />
  <%= csrf_meta_tags %>
</head>
<body <% if user_signed_in? %>class="account-body"<% end %>>
  <div class="navbar navbar-default navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to raw('<i class="fa fa-book"></i> CDL Study Guides'), :study_and_practice, class: "navbar-brand" %>
	      <%= link_to raw('<i class="fa fa-pencil"></i> CDL Practice Tests'), :study_and_practice, class: "navbar-brand" %>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">   
	      
	      <ul class="nav navbar-nav navbar-right">
	      	<% if user_signed_in? %>
	      	  <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">My Account <span class="caret"></span></a>
		          <ul class="dropdown-menu" aria-labelledby="download">
	              <%#= link_to 'My Profile', user_path(current_user) %>
	              <li><%= link_to 'My Tests', tests_path %></li>
		            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
		            <li class="divider"></li>
		            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		          </ul>
	        	</li>
	        	
	        <% else %>
	            <%= link_to "Pass Your Tests Now", :study_and_practice, class: "btn btn-danger navbar-btn order" %>
	          <!--
		        <li><%#= link_to "Create Account", new_user_registration_path %></li>
		        <li><%#= link_to "Log In", new_user_session_path %></li>
		        -->
		      <% end %>
	      </ul>

	    </div>
	  </div>
  </div>

	<div class="container">
	  <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </div>
  <% if user_signed_in? %>
		<footer class="account-footer">
		  <ul>
		    <li><%= link_to "About CDLStudyGuideHQ.com", "#" %>
		    <li><%= link_to "Help & Support", "#" %>
		    <li><%= link_to "Guarantee", "#" %>
		    <li><%= link_to "Terms & Conditions", "#" %>
		    <li><%= link_to "Blog", "#" %>
		  </ul>
		</footer>
	<% else %>
	  <footer>
		  <%= image_tag('guarantee-paypal.png') %>
		  <ul>
		    <li><%= link_to "About CDLStudyGuideHQ.com", "#" %>
		    <li><%= link_to "Help & Support", "#" %>
		    <li><%= link_to "Guarantee", "#" %>
		    <li><%= link_to "Terms & Conditions", "#" %>
		    <li><%= link_to "Blog", "#" %>
		  </ul>
		</footer>
	<% end %>
</body>
</html>
